<div class="container">

  <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-width">
            <br>
            <h4>Dette er <strong> {{user.login.local.email}} </strong> som er  {{user.user_type}} </h4>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    
    <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg btn-lagnyrutine" data-toggle="modal" data-target="#myModal">
        Lag ny rutine
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Lag ny rutine</h4>
            </div>
            <form ng-submit="submitRutine(newRutine)">
              <div class="modal-body">

                  <input class="form-control" type="text" ng-model="newRutine.description.title" placeholder="Tittel">

                  <h5 class="form-title">Skal tildeles:</h5>
                  
                  <select ng-model="newRutine.assignment.assigned_to._id">  

                    <option value="{{employer._id}}" ng-repeat="employer in employers">{{employer.login.local.email}}
                    </option>

                  </select>


                  <input class="form-control" type="text" ng-model="newRutine.description.description" placeholder="Beskrivelse">
             </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Post ny rutine</button>
              </div>

            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
      <div ng-repeat="rutine in readRutine" class="aktive-rutiner">
        <h4> {{rutine.description.title}} </h4>
        <p class="date"> {{rutine.date.date_start}} </p>
        <p> Utføres av: {{rutine.assignment.assigned_to.login.local.email}} </p>
        <p> Tildelt av: {{rutine.assignment.assigned_by.login.local.email}}
        <p> {{rutine.description.description}} </p>
      </div>
    </div>

    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
    
    </div>
  </div>
  

</div>

	